body {
    text-align: center;
}
div {
    height: 100px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}
#container {
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex;
}
#box1 {
    background-color: aqua;
    flex-grow: 2;
}
#box2 {
    background-color: pink;
    height: 200px;
    flex-shrink: 1;
    flex-grow: 2;
    
}
#box3 {
    background-color: yellow;
    height: 75px;
}
#box4 {
    background-color: brown;
}
#box5 {
    background-color: blueviolet;
    align-self: flex-end;
}
.navbar {
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}
a {
    text-decoration: none;
    color: red;
}
li {
    list-style-type: none;
}
.outer {
    height: 400px;
    width: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
}
div {
    height: 50px;
    width: 50px;
    background-color: blueviolet;
}
@media (width : 600px) {
    div {
        background-color: red;
    }
}
div {
    height: 200px;
    width: 200px;
    background-color: chocolate;
}

@media (max-width: 300px) {
    div {
        background-color: green;
    }
}
@media (min-width: 300px) and (max-width: 400px) {
    div {background-color: pink;}
}
@media (min-width: 400px) and (max-width: 600px) {
    div {background-color: red;}
}
@media (min-width: 600px) {
    div {
        background-color: blue;
    }
}